.gpt3__header {
  display: flex;
  flex-direction: column;
}

.gpt3__header h1 {
  color:#fff
}

.gpt3__header-content {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-around;
}

.gpt3__header-content .original {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

.gpt3__header-content .generated {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

.gpt3__header-content h2 {
  color:#fff;
  font-size: 16px;
}

.gpt3__header-content img {
  margin-top: 10px;
  width: 100%;
  border-radius: 5%;
}